@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root
{
  --main-color:#0aad0a;
  --light-color:#f0f3f2;
  --font-family:"Encode Sans Expanded", serif;
  --rating-color:#ffc908;
}
body
{
font-family: var(--font-family) !important;
}

.text-main{
color:var(--main-color)
}

.bg-main{
 background-color: var(--main-color);
}

.bg-main-light{
background-color: var(--light-color) !important;
}

.active{
  color:gray;
  border-bottom: 2px solid gray;
}

.row{
  @apply flex flex-wrap items-center py-8 px-4;
}

.btn{
   @apply px-4 py-2 w-full rounded-lg text-white bg-green-600;
}

.product .btn{
  transition: transform 1s , opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}

.product:hover .btn{
  opacity:1;
  transform: translateY(0%);
}

.category-img{
height: 200px;
}